<!-- Header -->
<header class="header">
    <div class="wrapper">
        <h1 class="heading-3">Actividad 5 blog</h1>
    </div>
</header>

<main class="wrapper">

    <!-- Formulario -->
    <section>
        <form action="" method="" id="formulario">
            <h3>Formulario de alta</h3>
            <div>
                <label for="titulo">Título: </label>
                <input type="text" name="titulo" value="" [(ngModel)]="titulo">
            </div>
            <div>
                <label for="imagen">Imagen: </label>
                <input type="text" name="imagen" value="" [(ngModel)]="imagen">
            </div>
            <div>
                <label for="texto">Texto: </label>
                <textarea name="texto" rows="10" cols="50" value="" [(ngModel)]="texto"></textarea>
            </div>
            <div>
                <label for="Fecha">Título: </label>
                <input type="date" name="fecha" value="" [(ngModel)]="fecha">
            </div>
            <div>
                <button (click)="crearPost()">Crear</button>
            </div>
        </form>
    </section>

    <!-- Listado de noticias -->
    <hr>
    <section>
        <h3>Listado de noticias</h3>
        <article *ngFor="let noticia of noticias; let i = index;">
            <header>
                <h3>{{noticia.titulo}}</h3>
            </header>
            <section>
                <figure>
                    <img [src]="noticia.imagen" [alt]="'img noticia ' + i">
                    <figcaption>Imagen noticia {{i + 1}}</figcaption>
                </figure>
                <p>{{noticia.texto}}</p>
            </section>
            <footer>
                <small>
                    Posted on <time datetime="2017-04-29T19:00">{{noticia.fecha}}</time>
                </small>
            </footer>
        </article>

    </section>
</main>
<footer class="footer">
    <p class="footer__note">Francisco Sánchez</p>
</footer>