<!-- Header -->
<header class="header">
    <div class="wrapper">
        <h1 class="heading-3">Actividad 5 blog</h1>
    </div>
</header>

<main class="wrapper">

    <!-- Formulario -->
    <section>
        <h3 class="heading-3 section__title">Formulario de alta</h3>
        <form action="" method="" id="formulario" class="formulario">
            <div class="formulario__inputs">
                <div>
                    <label class="formulario__label" for="titulo">Título: </label>
                    <input type="text" name="titulo" class="formulario__input" value="" [(ngModel)]="titulo">
                </div>
                <div>
                    <label class="formulario__label" for="imagen">Imagen: </label>
                    <input type="text" name="imagen" class="formulario__input" value="" [(ngModel)]="imagen">
                </div>
                <div>
                    <label class="formulario__label" for="Fecha">Fecha: </label>
                    <input type="date" name="fecha" class="formulario__input" value="" [(ngModel)]="fecha">
                </div>
            </div>
            <div class="formulario__textarea">
                <label class="formulario__label" for="texto">Texto: </label>
                <textarea name="texto" rows="5" cols="130" class="formulario__input" value=""
                    [(ngModel)]="texto"></textarea>
                    <div class="formulario__btn">
                        <button class="formulario__button" (click)="crearPost()">Crear</button>
                    </div>
            </div>
        </form>
    </section>

    <!-- Listado de noticias -->
    <section class="noticias">
        <h3 class="heading-5">Listado de noticias</h3>
        <div class="noticias__w-noticias">
            <div class="noticias__article" *ngFor="let noticia of noticias; let i = index;">
                <article class="article">
                    <header>
                        <h3>{{noticia.titulo}}</h3>
                    </header>
                    <section>
                        <figure>
                            <img class="noticias__img" [src]="noticia.imagen" [alt]="'img noticia ' + i">
                            <figcaption><small>Imagen noticia {{i + 1}}</small></figcaption>
                        </figure>
                        <p>{{noticia.texto}}</p>
                    </section>
                    <footer>
                        <small>
                            Fecha de publicación: <time>{{noticia.fecha}}</time>
                        </small>
                    </footer>
                </article>
            </div>
        </div>

    </section>
</main>
<footer class="footer">
    <p class="footer__note">© Francisco Sánchez</p>
</footer>